<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Model:</b>
  <%= @product.model %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
	<%= image_tag @product.attachments.first.photo.url(:medium
		) if @product.attachments.present? %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render "reviews/new_comment_form" %>
<%= render "reviews/show_comments_form" %>
